body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

section{
    height: 500px;
    padding-bottom: 150px;
}
.intro-sec{
    display: flex;
}

#second-id{
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

#person-image{
    max-width: 100%;
    height: 500px;
    display: block;
    margin: auto;
}

.second-div{
    width: 50%;
    padding-left: 10px;
    padding-top: 100px;
}

#intro-id{
    padding-left: 90px;
    padding-top:110px; 
    padding-right: 10px;
}

#second-div-id{
    margin-right: 165px;
    margin-top: 127px;
    margin-bottom: 127px;
    padding-left: 75px;
}

.intro-div{
    width: 50%;
    padding-left: 10px;
}

#recipies-id{
    margin:auto;
    height: 120px;
    width: 706px;
}


.intro-div img{
    max-width: 100%; 
}

h1{
    font-weight: 900;
    font-size: 50px;
}

#reci{
    text-align: center;
}


span{
    color: orange;
}

p{
    color:grey;
    font-style: normal;
}


#reci-p{
    text-align: center;
}

#contact-info{
    padding-bottom: 50px;
}

#health{
    padding-bottom: 15px;
}

.order-link{
    text-decoration: none;
    padding: 15px 35px;
    background-image: linear-gradient(90deg, orange, tomato );
    font-weight: 700;
    color: white;
    border-radius: 20px;
    margin: 10px;
}

#item-sec{
    margin-left: 90px;
    margin-right: 90px;
}

.item{
    width: 377px;
    height: 475px;
    padding: 20px;
    margin: 20px;
    border: 7px;
    box-shadow: 0px 0px 40px rgb(0, 0,0,0.15);
    border-radius: 30px;
}
.item1{
    width: 377px;
    height: 300px;
    padding: 20px;
    margin: 20px;
    border: 7px;
    box-shadow: 0px 0px 40px rgb(0, 0,0,0.15);
    border-radius: 30px;
}
.item-img{
    width: 337px;
    height: 256px;
}

.item-p{
     width: 337px;
}

.item-h2{
    width: 337px;
    font-weight: bolder;
}

.recipies-div{
    width: 706px;
    height: 159px;
}

.footer{
    height: 180px;
    background-color: black;
    padding-top: 10px;
}


#footer-h2{
    color:grey;
    text-align: center;
}

.newsletter{
    padding-top: 30px;
    text-align: center;
}

.item-img1{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#location{
    padding-left: 100px;
    text-align: justify;
}

#map{
    width: 70%;
}

#testimonial{
    padding-top: 100px;
}

